{% set domain=ocp_master_cluster_public_hostname.split(".") %}
$ORIGIN {% for i in range(1, domain|length) -%}
{{ domain[i] }}.
{% endfor %}
{{ domain[0] }}      IN      A       {{ lb_ip }}


$ORIGIN {{ ocp_cluster_subdomain }}.
*               IN      A       {{ lb_ip }}




